* {
  margin: 0;
  padding: 0;
}

.father {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
}

.box {
  height: 400px;
  color: white;
  display: flex;
  font-size: 36px;
  justify-content: center;
  align-items: center;
}

.box:first-child {
  background-color: orange;
  /* flex-grow: 0;
  flex-shrink: 3;
  flex-basis: 500px; */
  flex: 1 0 500px;
}

.box:last-child {
  background-color: teal;
  flex-grow: 1;
}
