.father {
  display: flex;
  gap: 10px;
  height: 100vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.box {
  width: 200px;
  height: 200px;
  background-color: tomato;
  display: flex;
  text-align: left;
  color: white;
  font-size: 36px;
  justify-content: center;
  align-items: center;
}
