* {
  margin: 0;
  padding: 0;
}

.father {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  height: 200px;
  color: white;
  display: flex;
  font-size: 36px;
  justify-content: center;
  align-items: center;
}

.box:first-child {
  background-color: orange;
  flex-grow: 1;
  flex-shrink: 3;
}

.box:nth-child(2) {
  background-color: tomato;
  flex-grow: 2;
  flex-shrink: 5;
}

.box:last-child {
  background-color: teal;
  flex-grow: 3;
  flex-shrink: 0;
}
